<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>357969415159-5cr5mjcbpal69qb88cek878rk338siqe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357969415159-5cr5mjcbpal69qb88cek878rk338siqe</string>
	<key>API_KEY</key>
	<string>AIzaSyCY_r7v7W0thAusi3GlZ1C2hMg8BPh8bis</string>
	<key>GCM_SENDER_ID</key>
	<string>357969415159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zachbenjamin.stripetesting</string>
	<key>PROJECT_ID</key>
	<string>stripetesting-960f7</string>
	<key>STORAGE_BUCKET</key>
	<string>stripetesting-960f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357969415159:ios:6b630e57e680595a</string>
	<key>DATABASE_URL</key>
	<string>https://stripetesting-960f7.firebaseio.com</string>
</dict>
</plist>